*{
    font-family: Arial, sans-serif;
    /* text-decoration: none; */
}
.container { 
    max-width: 1000px; 
    margin: auto; 
}
body { 
    margin: 40px; 
    padding: 20px; 
    background: black; 
    color: white; }
h1 {
    color: #c55724;
    text-align: center; 
}
h2 {
    color:rgb(226, 192, 43);
}
.box { 
    background: #333333; 
    padding: 20px; 
    margin: 10px 0; 
    border-radius: 10px; 
}
code { 
    background: #1e1919; 
    border-radius: 5px;
    padding: 5px; 
    color: #ffd500; 
    line-height: 24px;
    font-size: 15px;
    display: block; 
    margin: 10px 0; 
    white-space: pre-wrap; 
}